[Gg]ifs/*
[Rr]esources/*
[Mm]od Uploader Path.lnk
[Ii]nfiniteReroll/Plateup_InfiniteReroll/.vs/*
[Ii]nfiniteReroll/Plateup_InfiniteReroll/bin/*
[Ii]nfiniteReroll/Plateup_InfiniteReroll/obj/*
[Ii]nfiniteReroll/WorkShopFolder_InfiniteReroll/*